<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="FileWatcher.Path" value="c:\in\app-v2" />
    <add key="TradeContext.ConnectionString" value="Data Source=.\SQL2012DEV;initial catalog=GoingAsync;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add key="PartyEnricher.ApiBaseUrl" value="http://localhost/Sixeyed.GoingAsync.Stubs.PartyApi"/>
    <add key="Queue.ValidateTradeMessage" value=".\private$\trade-validate" />
    <add key="Queue.EnrichParty1Message" value=".\private$\trade-enrich-party1" />
    <add key="Queue.EnrichParty2Message" value=".\private$\trade-enrich-party2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework codeConfigurationType="Sixeyed.GoingAsync.Core.Model.TradeContextConfiguration, Sixeyed.GoingAsync.Core">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>